doctype html
html
  head
    title= title

    //RESPONSIVE META TAG
    meta(charset='utf-8', name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name="google-signin-client_id" content="232438826735-8hqies7k4ljde2ng5413156ne39ljlhm.apps.googleusercontent.com")
    //SCRIPT PARA CONECTAR CON GOOGLE
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    //SCRIPT JS DE JQUERY
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    //ESTILO CSS DE BOOTSTRAP
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    //SCRIPT JS DE BOOTSTRAP
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    //ESTILO POR GENERAL
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')

    block includelib
    block includestyle
    
  body
    //<base href="https://chessboardjs.com/" />
    div(class='container-fluid')
      div(class='row')
        div(class='content col-sm-2')
          block menu
        div(class='content col-sm-5')
          block content
        div(class='content col-sm-3')
          block chat
        div(class='content col-sm-2')
          block users
        block modalOpcionesDeJuego
        block modalBusquedaDeJugador
        block modalEsperarConfirmacionPeticion
        block modalMostrarPeticionDeJuego
        block modalAlert
